@use "../prelude.scss";

.layout {
  display: grid;
  gap: var(--base-unit);
  grid-template:
    "menu_pane detail_pane" 1fr
    / 300px minmax(300px, 800px)
  ;

  height: 100vh;
  background-color: var(--background-alt);
  min-width: 600px;
}

@mixin pane {
  background-color: var(--background);
  border-radius: 2px;
}

/** Menu pane */
.menu_pane {
  @include pane;
}

.menu_pane ul {
  margin: 64px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  // align-items: stretch;
  flex-flow: column;
}

.menu_pane li {
  margin-inline-start: 24px;
}

.menu_pane li a {
  display: block;
  padding: 16px;
  border-radius: 4px;
  font-size: 18px;
}

.menu_pane li a:hover {
  background-color: var(--highlighted);
}

:global(.active) {
  color: var(--accent);
}

/** Detail pane */
.detail_pane {
  @include pane;
  padding: 16px;
  overflow-y: auto;
}

.detail_pane .group {
  display: flex;
  align-items: center;
}

.group label {
  text-rendering: optimizeLegibility;
  line-height: 1.8em;
  margin-inline-end: 8px;
}

.group input {
  margin-block: 4px;
  margin-inline-end: 8px;
  padding: 8px;
  background-color: var(--background);
  color: var(--grey900);
  border: 1px solid var(--grey600);
  border-radius: 4px;
  flex: 1;
}

.group button {
  min-width: 150px;
  margin: 4px 0;
  font-weight: 600;
  appearance: none;
  color: var(--grey900);
  background-color: var(--background);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 15px;
}

.group button:hover {
  background-color: var(--grey400);
}


.detail_pane section {
  background-color: var(--background-alt);
  padding: 24px 16px;
  border-radius: 4px;
  margin-block-start: 16px;
}

.detail_pane section h2 {
  margin-block-start: 0;
}


.new_connector_section .group {
  display: flex;
  align-items: start;
}

.new_connector_section .group label {
  display: flex;
  align-self: stretch;
  width: 150px;
  align-items: center;
}

.new_connector_section .group input {
  margin-inline-end: 0;
}

.detail_pane .connectors_section {
  background-color: transparent;
  padding: 0;
}

.connectors_section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.connectors_section .group {
  display: flex;
  align-items: start;
}

.connectors_section .group .key {
  display: flex;
  align-self: stretch;
  width: 150px;
  align-items: center;
}

.connectors_section .connector_item {
  display: flex;
  flex-direction: column;
  background-color: var(--background-alt);
  padding: 16px;
}

.connectors_section .connector_item + .connector_item {
  margin-block-start: 8px;
}


.action_group {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: row;
  gap: 8px;
  margin-block-start: 16px;
}

.action_group button {
  min-width: 150px;
  margin: 4px 0;
  font-weight: 600;
  appearance: none;
  color: var(--grey900);
  background-color: var(--background);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 15px;
}

.action_group button:hover {
  background-color: var(--grey400);
}

.form_error {
  border: 2px solid #900;
  padding: 8px;
  margin: 8px 0;
}

