@use "../prelude.scss";

.grid {
  display: grid;
  gap: var(--base-unit);
  grid-template:
    "locator_pane locator_pane image_pane" 50px
    "tree_pane    assets_pane  image_pane" 1fr
    / 300px 300px minmax(600px, 1fr)
  ;
  height: 100vh;
  background-color: var(--background-alt);
  min-width: 900px;
}

@mixin pane {
  background-color: var(--background);
  border-radius: 2px;
}

.locator_pane {
  @include pane;

  grid-area: locator_pane;
  padding: calc(var(--base-unit) * 2) calc(var(--base-unit) * 4);

  display: flex;
  align-items: stretch;
}

.location {
  flex: 2;
  text-align: center;
}

.tree_pane {
  @include pane;

  grid-area: tree_pane;
  overflow: hidden;
}

.folder_tree {
  overflow-y: auto;
}

.folder_details_open {
  display: grid;
  grid-template-rows: auto 200px;
}

.folder_details_close {
  display: grid;
  grid-template-rows: auto 33px;
}


.folder_details {
  border-top: 4px solid var(--background-alt);
  font-size: 14px;
}

.folder_details h1 {
  font-size: 14px;
  margin: 0;
  padding: 8px;
  font-weight: normal;
  cursor: pointer;
  color: var(--grey800);
  background-color: var(--grey300);
  border-bottom: 1px solid var(--background-alt)
}

.folder_details ul {
  overflow: auto;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 4px;
  list-style: none;
}

.folder_tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.folder_tree > ul {
  padding: 8px;
}

.folder_tree ul ul {
  padding-left: 16px;
}

.tree_pane .selected {
  background-color: var(--selected);
}

.tree_pane .tree_action {
  font-size: 14px;
  white-space: nowrap;
  display: grid;
  gap: var(--base-unit);
  grid-template-columns: 16px auto;
  padding: 2px 4px;
  border-radius: 4px;
}

.tree_pane .tree_action:hover {
  background-color: var(--highlighted);
  // transition: background-color 1s ease-in;
}

.tree_pane a {
  line-height: 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tree_pane button {
  background-color: transparent;
  border: none;
  color: var(--grey600);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.tree_pane .noop {
  color: var(--grey400);
}


/** Assets Pane */

.assets_pane {
  @include pane;

  grid-area: assets_pane;
  overflow-y: auto;
}

.assets_pane.empty {
  display: grid;
  place-items: center;
  font-size: 14px;
}

.assets_pane .asset {
  border-block-end: 4px solid var(--background-alt);
  font-size: 14px;
  text-decoration: none;

  display: grid;
  // grid-template-columns: 120px 1fr 2fr;
  // grid-template-rows: 28px repeat(5, 1fr);
  grid-template:
  "header header flag" 28px
  "thumb  body body"
  / 120px 1fr 28px
  ;

  /* XXX: for performance reasons */
  height: 162px;
  width: 300px;
}

.assets_pane .asset:hover {
  background-color: var(--highlighted);
}

.assets_pane .asset.selected {
  background-color: var(--selected);
}

.assets_pane .asset.loading {
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.assets_pane .header {
  border-block-end: 1px solid var(--background-alt);
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  grid-area: header;
}

.red {
  background-color: rgba(128, 0, 0, 0.2);
}

.purple {
  background-color: rgba(128, 0, 128, 0.2);
}

.blue {
  background-color: rgba(0, 0, 139, 0.2);
}

.green {
  background-color: rgba(34, 139, 34, 0.2);
}

.yellow {
  background-color: rgba(184, 134, 11, 0.2);
}

.assets_pane .asset .header > .badge {
  background-color: black;
  border-radius: 2px;
  color: var(--grey600);
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  padding: 2px 4px;
  margin-inline-end: 4px;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.assets_pane .flag {
  grid-area: flag;
  border-block-end: 1px solid var(--background-alt);
  display: grid;
  place-items: center;
}

.thumbnail {
  // grid-row: span 5;
  grid-area: thumb;
  display: grid;
  place-items: center;
}

.thumbnail img {
  object-fit: contain;
  max-width: 120px;
  max-height: 120px;
}

.assets_pane .asset .body {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.assets_pane .asset .rating svg {
  display: inline-block;
}

.assets_pane .asset .label,
.assets_pane .asset .value {
  padding: 4px 8px;
  border-inline-start: 1px solid var(--background-alt);
  border-block-end: 1px solid var(--background-alt);
  display: grid;
  align-items: center;
}

.assets_pane .asset .label:nth-last-of-type(2),
.assets_pane .asset .value:nth-last-of-type(1) {
  border-block-end: none;
}




/** image pane */
.image_pane {
  @include pane;

  grid-area: image_pane;
}

.image_pane.selected {
  padding: 8px;
  background-color: var(--neutral);

  display: grid;
  grid-template-rows: calc(36px + 10px) 1fr;
  gap: 8px;
}

.image_pane .canvas {
  overflow: hidden;
}

.image_pane .canvas.fullsize {
  overflow: auto;
  cursor: grab;
}

.image_pane .canvas img {
  display: block;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.image_pane .canvas.fullsize img {
  max-height: none;
  max-width: none;
}

.image_pane .toolbar {
  border: 1px solid var(--grey300);
  border-radius: 2px;
  padding: 4px;

  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, 36px);
}

.toolbar button svg {
  display: block;
}

.toolbar button {
  background-color: var(--grey200);
  border: 2px solid var(--grey300);
  border-radius: 4px;
  color: var(--grey600);
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 4px;
}

.toolbar button:hover {
  background-color: var(--grey500);
  color: var(--grey100);
}
