:root {
  --grey300: #B0B0B0;
  --grey400: #909090;
  --grey500: #707070;
  --grey600: #505050;
  --grey605: #434343;
  --grey700: #303030;
  --grey800: #202020;
  --grey900: #101010;

  --neutral: var(--grey600);
  --foreground: var(--grey300);
}
